* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Merriweather', sans-serif;
    background-color: #252525;
}

/* ----- Fonte ----- */

h1,
h2 {
    font-family: 'Mate SC', serif;
    color: #fff;
}

h3,
h4,
h5,
h6 {
    font-family: 'Mate', serif;
    color: #fff;
}

p {
    font-family: 'Merriweather', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
}

/* ----- HEADER ----- */

#bookingknap a {
    text-align: center;
    width: 60%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 50px;
    background: #b11f25;
    margin-top: 80px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: #f8f6ee;
    font-family: 'Mate', serif;
    text-decoration: none;
    border-bottom: 8px solid #e51721;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    z-index: 1;
}


/* ----- MENU ----- */
nav {
    position: absolute;
    width: 100%;
    z-index: 2;

}

.nav {
    text-align: right;
    height: 70px;
    line-height: 30px;

}

label {
    display: block;
    cursor: pointer;
    font-size: 30px;
    font-weight: lighter;
    color: #7E1515;
    margin: 28px 15px 15px 15px;


}

.menu {
    text-align: center;
    width: 100%;
    display: none;
    background-color: #2D2D2D;
    height: 500px;
    font-weight: bolder;
    font-family: 'Mate SC', serif;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-size: 18px;

}

.menu a {
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #333;
    padding: 20px;
    color: #7E1515;
    border-bottom: solid #7E1515 1px;
    margin-right: 60px;
    margin-left: 60px;

}

.menu a:hover {
    color: #e51721;

}

#toggle {
    display: none;

}

#toggle:checked + .menu {
    display: block;

}

/* ----- LANDING IMG ----- */

#landing {
    height: 50%;
    position: absolute;
    top: 80px;
    width: 100%;
    z-index: -1;
    opacity: 0.35;
}

.landingtext {
    text-align: center;
    padding-top: 170px;
}


/* ----- DESKTOP ----- */

@media (min-width:1025px) {

    /* ----- MENU ----- */
    nav {
        width: 100%;
    }

    .nav {
        height: 70px;
        line-height: 150px;
    }

    .menu {
        display: inline-block;
        background: none;
        font-size: 14px;
    }

    .menu a {
        text-decoration: none;
        margin: 0px;
        line-height: 0px;
        border-bottom: none;
    }

    label {
        display: none;
    }

    /* Lavet med inspiration fra https://www.littlesnippets.net/snip1275 */

    .snip1275 {
        text-align: center;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .snip1275 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }

    .snip1275 li {
        display: inline-block;
    }

    .snip1275 a {
        color: rgba(255, 255, 255, 0.5);
        position: relative;
    }

    .snip1275 a:before,
    .snip1275 a:after {
        height: 3px;
        position: absolute;
        content: '';
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        background-color: #7E1515;
        width: 0;
    }

    .snip1275 a:before {
        top: 0;
        right: 0;
    }

    .snip1275 a:after {
        bottom: 0;
        left: 0;
    }

    .snip1275 a:hover,
    .snip1275 .current a {
        color: #ffffff;
    }

    .snip1275 a:hover:before,
    .snip1275 .current a:before,
    .snip1275 a:hover:after,
    .snip1275 .current a:after {
        width: 100%;
    }

    /* ----- HEADER ----- */

    #bookingknap a {
        width: 350px;
        margin-top: 240px;
        z-index: 2;
    }

    #bookingknap a:hover {
        background-color: #e51721;
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;
        z-index: 2;
    }

    /* ----- LANDING IMG ----- */

    #landing {
        height: 70%;
        top: 135px;
    }

    .landingtext {
        text-align: center;
        padding-top: 500px;
    }
    
    .landingtext h1 {
        font-size: 70px;
    }
    
    .landingtext h2 {
        font-size: 55px;
    }
}
