* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #252525;
}

/* ----- Fonte ----- */

h1,
h2 {
    font-family: 'Mate SC', serif;
    color: #fff;
}

h3,
h4,
h5,
h6 {
    font-family: 'Mate', serif;
    color: #fff;
}

p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
}

/* ----- HEADER ----- */

#bookingknap a {
    text-align: center;
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 40px;
    background: #b11f25;
    top: 300px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: #f8f6ee;
    font-family: 'Mate', serif;
    text-decoration: none;
    border-bottom: 5px solid #e51721;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    z-index: 1;
}


/* ----- MENU ----- */
nav {
    position: absolute;
    width: 100%;
    z-index: 2;
		background-color: #252525;


}

.nav {
    text-align: right;
    height: 50px;
    line-height: 30px;
	

}

label {
    display: block;
    cursor: pointer;
    font-size: 30px;
    font-weight: lighter;
    color: #7E1515;
    margin: 20px 15px 15px 15px;


}

.menu {
    text-align: center;
    width: 100%;
    display: none;
    background-color: #2D2D2D;
    height: 500px;
    font-weight: bolder;
    font-family: 'Mate SC', serif;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-size: 18px;

}

.menu a {
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #333;
    padding: 20px;
    color: #7E1515;
    border-bottom: solid #7E1515 1px;
    margin-right: 60px;
    margin-left: 60px;

}

.menu a:hover {
    color: #e51721;

}

#toggle {
    display: none;

}

#toggle:checked + .menu {
    display: block;

}

/* ----- FORSIDE ----- */

/* ----- LANDING IMG ----- */

#landing {
    display: flex;
	height: 60vh;
	background-size: cover;
	background-image: url(../images/landingimg.jpg);
	background-position: top;
}

#landing h1 {
	top:170px;
    text-align: center;
	width: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
    line-height: 50px;
	color: #fff;
	font-size: 40px
}

#landing h2 {
	top:220px;
    text-align: center;
	width: 100%;
	position: absolute;
	left: 50%;
	transform: translateX(-50%);
    line-height: 50px;
	color: #fff;
	font-size: 30px;
}

.landingbox {
    margin-bottom: 508px;
}

/* ----- MARMOR BG ----- */

.marmorbox {
    height: 800px;
}

.marmorbox h2 {
    text-align: center;
    padding-top: 100px;
    font-size: 50px;
    text-transform: uppercase;
}

.marmorbox p {
    text-align: center;
    width: 60%;
    margin-left: 20%;
    font-size: 16px;
}

.marmor {
    width: 100%;
    height: 800px;
    z-index: -2;
    opacity: 0.1;
    position: absolute;
}



/*------ TEAMBUILDINGSIDE \/ ------ */
    
/* --- MORTEN HEADER TEAMBUILDING --- */


.teambuilding-header {
    display: flex;
    height: 30vh;
    background-size: cover;
    background-image: url(../images/Mafia.png);
    background-position: center;
}


    
/*---- Øverste to info-bokse på siden: FORDELE OG PRAKTISK INFO ---- */

.teambuilding-h2 {
    color: #fff;
    text-align: center;
    padding: 3%;
    
}



#wrapper {

    text-align: center;
}
#div1 {
    display: inline-block;
    width: 80%;
    height: 25vh;
    border: 1px solid #7E1515;
    background-color: #7E1515;
    margin: 3vh;
    padding-left: 3%;
    color: #fff;
    list-style-position: inside;
text-align: left;

}

#div2 {
    display: inline-block;
    width: 80%;
    height: 25vh;
    border: 1px solid #7E1515;
    background-color: #7E1515;
    margin: 3vh;
    padding-left: 3%;
    color: #fff;
    list-style-position: inside;
text-align: left;

}


/* KODE FOR DE TO INFOBOKSE SLUTTER HER ^ */


/* TEKST-AFSNIT: "Hos Escape Factory tilbyder vi teambuilding..." */

#teambuilding-tekstafsnit {
 letter-spacing: 0.6px;
    padding: 3%;    
    
}

/* BOOK HER-KNAP PÅ TEAMBUILDING SIDEN */

#bookingknap-teambuilding {
    text-align: center;
    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    line-height: 50px;
    background: #7E1515;
    padding: 0 70px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: #f8f6ee;
    border-bottom: 8px solid #e51721;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin: 10% 0% 10% 0%;
    

}

    #bookingknap-teambuilding a {
        width: 350px;
        margin-top: 25%;
        text-decoration: none;
        color: #fff;


    }

    #bookingknap-teambuilding a:hover {
        background-color: #7E1515;
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;
    }


/* IKONER der illustrerer max antal og tid */

#ikoner {
text-align: center;   
padding: 8%
}

.ikon-bar li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline;
    color: #fff;

}
.icon-pics {
    width: 25px;
    text-align: center;
    vertical-align: -29%;
    padding-left: 4px;

}

/*EL-KHOLY muligheden - tekstafsnit */

.fulde-udbytte { 
    display: flex;
    height: 60vh;
    background-size: cover;
    background-image: url(../images/teambuild-baggrund.png);
    background-position: center;

}

.fulde-udbytte p {

 letter-spacing: 0.6px;
    padding: 3%;    
    
}



#consult-tekst {
    margin: 2%;
}


#kontakt-knap {
    text-align: center;
    width: 90%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 50px;
    background: #7E1515;
    padding: 0 70px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: #f8f6ee;
    border-bottom: 8px solid #e51721;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    
}

    #kontakt-knap a {
        width: 350px;
        margin-top: 25%;
        text-decoration: none;
        color: #fff;


    }

    #kontakt-knap a:hover {
        background-color: #7E1515;
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;
    }



/*----VORES RUM SIDEN STARTER-----*/

.detrerum img {
    
    width: 100%;
height: 150px;
  
}



/*-----VORES RUM SIDEN SLUTTER-----*/


/* ----- DESKTOP ----- */

@media (min-width:1025px) {

    /* ----- MENU ----- */
    nav {
        width: 100%;

    }

    .nav {
        height: 150px;
        line-height: 150px;
    }

    .menu {
        display: inline-block;
        background: none;
        font-size: 14px;
    }

    .menu a {
        text-decoration: none;
        margin: 0px;
        line-height: 0px;
        border-bottom: none;
    }

    label {
        display: none;
    }

    /* Lavet med inspiration fra https://www.littlesnippets.net/snip1275 */

    .snip1275 {
        text-align: center;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .snip1275 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }

    .snip1275 li {
        display: inline-block;
    }

    .snip1275 a {
        color: rgba(255, 255, 255, 0.5);
        position: relative;
    }

    .snip1275 a:before,
    .snip1275 a:after {
        height: 3px;
        position: absolute;
        content: '';
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        background-color: #7E1515;
        width: 0;
    }

    .snip1275 a:before {
        top: 0;
        right: 0;
    }

    .snip1275 a:after {
        bottom: 0;
        left: 0;
    }

    .snip1275 a:hover,
    .snip1275 .current a {
        color: #ffffff;
    }

    .snip1275 a:hover:before,
    .snip1275 .current a:before,
    .snip1275 a:hover:after,
    .snip1275 .current a:after {
        width: 100%;
    }

    /* ----- FORSIDE ----- */
    
    /* ----- HEADER ----- */

    #bookingknap a {
        width: 350px;
        margin-top: 200px;
        z-index: 2;
    }

    #bookingknap a:hover {
        background-color: #e51721;
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;
        z-index: 2;
    }

    /* ----- LANDING IMG ----- */

  #landing {
	height: 90vh;
	background-position: top;
}

#landing h1 {
	top:330px;
	font-size: 70px;
}

#landing h2 {
	top:400px;
	font-size: 60px;
    
}

.landingbox {
    margin-bottom: 50px;
}
    
    
 /*----VORES RUM SIDEN STARTER-----*/

.detrerum {
    display: flex;
    justify-content: space-around;
    
}
    
    .detrerum img {
        width: 299px;
    height=411px;
    }
    




/*-----VORES RUM SIDEN SLUTTER-----*/   
    
    
    
    
    
    
}
