* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #252525;
}

.text-center {
    text-align: center;
}

/* ----- Fonte ----- */

h1,
h2 {
    font-family: 'Mate SC', serif;
    color: #fff;
}

h3,
h4,
h5,
h6 {
    font-family: 'Mate', serif;
    color: #fff;
}

p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
}

/* ----- HEADER ----- */

#bookingknap a {
    text-align: center;
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 40px;
    background: #b11f25;
    top: 300px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: #f8f6ee;
    font-family: 'Mate', serif;
    text-decoration: none;
    border-bottom: 5px solid #e51721;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    z-index: 1;
}


/* ----- MENU ----- */

nav {
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: #252525;


}

.nav {
    text-align: right;
    height: 50px;
    line-height: 30px;


}

label {
    display: block;
    cursor: pointer;
    font-size: 30px;
    font-weight: lighter;
    color: #7E1515;
    margin: 20px 15px 15px 15px;


}

.menu {
    text-align: center;
    width: 100%;
    display: none;
    background-color: #2D2D2D;
    height: 500px;
    font-weight: bolder;
    font-family: 'Mate SC', serif;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-size: 18px;

}

.menu a {
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #333;
    padding: 20px;
    color: #7E1515;
    border-bottom: solid #7E1515 1px;
    margin-right: 60px;
    margin-left: 60px;

}

.menu a:hover {
    color: #e51721;

}

#toggle {
    display: none;
}

#toggle:checked + .menu {
    display: block;
}

/* ----- FOOTER ----- */

footer {
    text-align: center;
}

footer h3 {
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 21px;
}

footer a {
    text-decoration: none;
    color: white;
    font-size: 14px;
    line-height: 19px;
}

.logo {
    width: 60%;
    margin-top: 50px;
}

.fa-facebook {
    background: #3B5998;
    color: white;
    padding: 20px;
    width: 50px;
    margin-bottom: 15px;
}

.fa:hover {
  opacity: 0.7;
}

.copyright {
    background: black;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* ----- FOOTER SLUT ----- */
'

/* ----- FORSIDE ----- */

/* ----- LANDING IMG ----- */

#landing {
    height: 60vh;
    background-size: cover;
    background-image: url(../images/landingimg.jpg);
    background-position: top;
    opacity: 0.35;
}

.landingbox h1 {
    top: 180px;
    text-align: center;
    width: 100%;
    position: absolute;
    line-height: 50px;
    color: #fff;
    font-size: 35px;
}

.landingbox h2 {
    top: 225px;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 50px;
    color: #fff;
    font-size: 30px;
}

/* ----- MARMOR BG ----- */

.marmorbox {
    background-size: cover;
    background-image: url(../images/marmor.jpg);
    background-position: top;
    padding-bottom: 50px;
    text-align: center;
}

.marmorbox h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    text-transform: uppercase;
}

.marmorbox p {
    width: 90%;
    margin-left: 5%;
    font-size: 12px;
    margin-top: 15px;
}

.marmor {
    width: 100%;
    height: 600px;
    z-index: -2;
    opacity: 0.1;
    position: absolute;
}

.marmorgrid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    text-transform: uppercase;
    font-size: 10px;
}

.marmorgrid img {
    width: auto;
    height: 30px;
}

.marmorgrid h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* ----- RØD TEKSTUR BG MED IKONER ----- */

.roedbox {
    background-size: cover;
    background-image: url(../images/rod-tekstur.jpg);
    background-position: top;
    height: 850px;
}

.roedbox h2 {
    text-align: center;
    padding-top: 40px;
    font-size: 25px;
}

.roedbox h3 {
    text-align: center;
}

.content-for-alle {
    text-align: center;
}

.ikon-forside {
    margin-top: 40px;
    height: 70px
}

.content-for-alle h3 {
    margin-top: 10px;
}

.content-for-alle p {
    margin-top: 10px;
    font-size: 12px;
    width: 90%;
    margin-left: 5%;
}

/* ----- MARMOR BG MED PRISER PÅ FORSIDE ----- */

#lilleh3 {
    margin-top: -25px;
    font-size: 15px;
}

.pris-box {
    margin-top: 50px;
    padding-top: 8px;
    height: 80px;
    background-color: rgba(126, 21, 21, 0.5);
    width: 50%;
    margin-left: 25%;
}

.pris {
    font-size: 35px;
}

/* ----- BAGGRUND TIL SPIL PÅ FORSIDE ----- */

#hegn {
    background-size: cover;
    background-image: url(../images/hegn.jpg);
    background-position: top;
    height: 500px;
    text-align: center;
}

#hegn h2 {
    padding-top: 40px;
    font-size: 25px;
}

#hegn p {
    padding-top: 30px;
    width: 90%;
    margin-left: 5%;
}


/* ----- FORSIDE SLUT ----- */

/*------ TEAMBUILDINGSIDE \/ ------ */

/* --- MORTEN HEADER TEAMBUILDING --- */

.teambuilding-header {
    display: flex;
    height: 40vh;
    background-size: cover;
    background-image: url(../images/bog-paa-bord.jpg);
    background-position: center;
}

/*---- Øverste to info-bokse på siden: FORDELE OG PRAKTISK INFO ---- */

.teambuilding-h2 {
    text-align: center;
    padding: 2%;

}


.wrapper-bokse h3 {
    padding: 3%;
    text-align: center;
}

.wrapper-bokse {
    text-align: center;
    padding: 3%;

}


#fordele {

    display: inline-block;
    width: 80%;
    height: 30vh;
    border: 1px solid #7E1515;
    background-color: #7E1515;
    margin: 3vh;
    padding-left: 3%;
    color: #fff;
    list-style-position: inside;
    text-align: left;

}

#praktisk-info {
    display: inline-block;
    width: 80%;
    height: 30vh;
    border: 1px solid #7E1515;
    background-color: #7E1515;
    margin: 3vh;
    padding-left: 3%;
    color: #fff;
    list-style-position: inside;
    text-align: left;
}


/* KODE FOR DE TO INFOBOKSE SLUTTER HER ^ */

/* TEKST-AFSNIT: "Hos Escape Factory tilbyder vi teambuilding..." */

.teambuilding-tekstafsnit {
    letter-spacing: 0.6px;
    background-size: cover;
    background-image: url(../images/lys-i-loft.jpg);
    background-position: top;

}


/*
 background-size: cover;
    background-image: url(../images/landingimg.jpg);
    background-position: top;

*/

.teambuilding-tekstafsnit {

    letter-spacing: 0.6px;
    padding: 3%;
    background-position: bottom;
    padding: 3%;
    background-position: top;
}

/* BAGGRUNDBILLEDE ved Teambuilding-tekstafsnittet */

/* BAGGRUNDBILLEDE ved Teambuilding-tekstafsnittet */

/* BOOK HER-KNAP PÅ TEAMBUILDING SIDEN */

.bookingknap-teambuilding {
    text-align: center;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    line-height: 50px;
    background: #7E1515;
    padding: 0 70px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: #f8f6ee;
    border-bottom: 8px solid #e51721;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin-top: 10%;
}

.bookingknap-teambuilding a {
    width: 350px;
    margin-top: 25%;
    text-decoration: none;
    color: #fff;
}

.bookingknap-teambuilding a:hover {
    background-color: #7E1515;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

/* IKONER der illustrerer max antal og tid */

#ikoner {
    text-align: center;
    padding: 8%
}

.ikon-bar li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline;
    color: #fff;

}

.icon-pics {
    width: 25px;
    text-align: center;
    vertical-align: -29%;
    padding-left: 4px;

}

/*EL-KHOLY muligheden - tekstafsnit */

.fulde-udbytte {
    height: 110vh;
    background-size: cover;
    background-image: url(../images/teambuliding-baggrund.jpg);
    background-position: center;


}




.fulde-udbytte p {

    letter-spacing: 0.6px;
    padding: 3%;


}



#consult-tekst {
    margin: 2%;
}


/* ---- HERUNDER kontakt-knap til TEAMBUILDING SIDEN ---- */

#kontakt-knap {
    text-align: center;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 50px;
    background: #7E1515;
    padding: 0 70px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: #f8f6ee;
    border-bottom: 8px solid #e51721;
    text-transform: uppercase;
    letter-spacing: 0.6px;

}

#kontakt-knap a {
    width: 350px;
    margin-top: 25%;
    text-decoration: none;
    color: #fff;


}

#kontakt-knap a:hover {
    background-color: #7E1515;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}


/* -----------HER SLUTTER KODE FOR TEAMBUILDING-SIDEN--------- */

/*----VORES RUM SIDEN STARTER-----*/

.detrerum img {

    width: 100%;
    height: 150px;

}


.enigmaimg,
.alkymistimg,
.oberstimg {

    width: 100%;
    height: 180px;

}

/*med inspiration fra https://www.w3schools.com/howto/howto_css_modals.asp*/

/* The Modal (background) */

.modal,
.modal1,
.modal2 {
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 1;
    /* Sit on top */
    padding-top: 150px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.7);
    /* Black w/ opacity */
}

/* Modal Content */

.modal-content,
.modal-indhold1,
.modal-indhold {
    background: #7e1515;
    margin: auto;
    padding: 30px;
    width: 90%;
}







/* The Close Button */




.close,
.luk1,
.luk {
    color: #ffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}



.luk1:hover,
.luk1:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}




.luk:hover,
.luk:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}







/*De tre billeder*/

.alkymisten {
    position: relative;
}

.enigma {
    position: relative;
}

.oberst {
    position: relative;
}

/*styling af knapper*/

#myBtn,
#minknap,
#minknap1 {

    background: #7c2000;
    border: none;

    padding: 1% 5%;
    font-size: 20px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.tekstonimg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


/*Booking knap ovenpå billedet inde i modal box*/


#ikoner-i-modal img {
    width: 8%;
    height: 8%;

}

#ikoner-i-modal1 img {
    width: 8%;
    height: 8%;

}

#ikoner-i-modal2 img {
    width: 8%;
    height: 8%;

}

#ikoner-i-modal,
#ikoner-i-modal1,
#ikoner-i-modal2 {
    display: flex;

    justify-content: center;

}

/*-----VORES RUM SIDEN SLUTTER-----*/

/*-----FAQ SIDEN STARTER-----*/

/*******************************
Modificeret snippet fra CodePen: https://codepen.io/bootpen/pen/BooWaR
*******************************/
.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border: none;

}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #fff;
    background-color: #7E1515;

}

.panel-title {
    font-size: 14px;

}

.panel-title > a {
    display: block;
    padding: 10px;
    text-decoration: none;

}

.more-less {
    float: right;
    color: #fff;

}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    color: #252525;
    background-color: #7E1515;
    border: none;
}

/*-----FAQ SIDEN SLUTTER-----*/


/* -----------> KONTAKT-SIDEN START  */ 


#kontakt-header {
    display: flex;
    height: 50vh;
    background-size: cover;
    background-image: url(../images/old-phone.jpeg);
    background-position: center;
}

.kontakt-siden {
        padding: 0% 10% 0% 10%;
    }

.kontakt-overskrift {
    
    margin: 5% 0% 5% 0%;
    text-align: center;
}



/* KONTAKTFORMULAR LAVET MED INSPIRATION FRA: https://codepen.io/GabGi/pen/RVXxqo */ 

.f-input::placeholder {
  color: white;
  opacity:0.9;
}

.f-input {
  background-color: #7E1515;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width:100%;
  box-sizing: border-box;
    color:black;
  font-size: 18px;
  border-radius: 4px;
  line-height: 22px;
  text-align:left;
}

.f-input:focus { 
  border:2px solid #3a3939; }

textarea {
  height: 250px;
  line-height: 150%;
  resize:vertical;
}

button {
  max-width: 450px;
  width: 100%;
  background: #7E1515;
  border-radius:10px;
  border:0;
  cursor:pointer;
  color:white;
  font-size:24px;
  padding-top:10px;
  padding-bottom:10px;
text-align:center;
  transition: all 0.3s;
  font-weight:600; 
}
button:hover {
  
 background: #000; 
}



/* HER SLUTTER KONTAKT-SIDEN ------- */ 



/* ----- DESKTOP ----- */

@media (min-width:1025px) {

    /* ----- MENU ----- */
    nav {
        width: 100%;

    }

    .nav {
        height: 150px;
        line-height: 150px;
    }

    .menu {
        display: inline-block;
        background: none;
        font-size: 14px;
    }

    .menu a {
        text-decoration: none;
        margin: 0px;
        line-height: 0px;
        border-bottom: none;
    }

    label {
        display: none;
    }

    /* Lavet med inspiration fra https://www.littlesnippets.net/snip1275 */
    .snip1275 {
        text-align: center;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .snip1275 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }

    .snip1275 li {
        display: inline-block;
    }

    .snip1275 a {
        color: rgba(255, 255, 255, 0.5);
        position: relative;
    }

    .snip1275 a:before,
    .snip1275 a:after {
        height: 3px;
        position: absolute;
        content: '';
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        background-color: #7E1515;
        width: 0;
    }

    .snip1275 a:before {
        top: 0;
        right: 0;
    }

    .snip1275 a:after {
        bottom: 0;
        left: 0;
    }

    .snip1275 a:hover,
    .snip1275 .current a {
        color: #ffffff;
    }

    .snip1275 a:hover:before,
    .snip1275 .current a:before,
    .snip1275 a:hover:after,
    .snip1275 .current a:after {
        width: 100%;
    }

    /* ----- FORSIDE ----- */
    /* ----- HEADER ----- */
    #bookingknap a {
        width: 350px;
        margin-top: 350px;
        z-index: 2;
    }

    #bookingknap a:hover {
        background-color: #e51721;
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;
        z-index: 2;
    }

    /* ----- LANDING IMG ----- */
    #landing {
        height: 90vh;
        background-position: top;
    }

    .landingbox h1 {
        top: 400px;
        font-size: 70px;
    }

    .landingbox h2 {
        top: 470px;
        font-size: 60px;
    }

    .landingtext h2 {
        font-size: 55px;
    }

    /* ----- MARMOR BG ----- */

    .marmorbox h2 {
        padding-top: 70px;
        padding-bottom: 70px;
        font-size: 55px;
    }

    .marmorbox p {
        width: 60%;
        margin-left: 20%;
        font-size: 16px;
        margin-top: 70px;
    }

    .marmorgrid {
        width: 80%;
        margin-left: 10%;
        grid-template-columns: auto auto auto auto auto auto;
        font-size: 20px;
    }

    .marmorgrid img {
        height: 80px;
    }

    .marmorgrid h3 {
        margin-top: 30px;
    }

    /* ----- RØD TEKSTUR BG MED IKONER ----- */

    .roedbox h2 {
        font-size: 55px;
        padding-top: 70px;
    }

    .roedbox h3 {
        font-size: 20px;
    }

    .content-for-alle {
        display: grid;
        grid-template-columns: 10% 26.67% 26.67% 26.67% 10%;
    }

    .content-for-alle p {
        font-size: 16px;
    }

    .familie {
        grid-column-start: 2;
    }

    .familie p {
        width: 60%;
        margin-left: 20%;
    }

    .venner {
        grid-column-start: 3;
    }

    .venner p {
        width: 60%;
        margin-left: 20%;
    }

    .virksomhed {
        grid-column-start: 4;
    }

    .virksomhed p {
        width: 60%;
        margin-left: 20%;
    }

    /* ----- MARMOR BG MED PRISER PÅ FORSIDE ----- */

    #lilleh3 {
        margin-top: -50px;
        font-size: 20px;
    }

    .pris-box {
        margin-left: 0;
        height: 200px;
        padding-top: 20px;
    }

    #pris-grid {
        display: grid;
        grid-template-columns: 25% 20% 10% 20% 25%;
    }

    #pris1 {
        grid-column-start: 2;
        width: 100%;
    }

    #pris2 {
        grid-column-start: 4;
        width: 100%;
    }

    .pris-box {
        font-size: 30px;
    }

    .pris {
        font-size: 100px;
    }

    /* ----- BAGGRUND TIL SPIL PÅ FORSIDE ----- */

    #hegn h2 {
        font-size: 55px;
    }

    #hegn p {
        font-size: 16px;
    }

    /* ----- FORSIDE SLUTTER ----- */


    /*---RUMMENE STARTER---*/
    .detrerum {
        display: flex;
        justify-content: space-around;

    }

    .detrerum img {

        width: 299px;
        height: 411px;
    }


    /*billede inde i modal box*/

    #alkymist2,
    #oberst2,
    #enigma2 {
        width: 100%;
        height: 350px;

    }

    /*ikoner i modal*/

    #ikoner-i-modal img {
        width: 4%;

    }

    #ikoner-i-modal1 img {
        width: 4%;

    }

    #ikoner-i-modal2 img {
        width: 4%;

    }

    /*---RUMMENE SLUTTER--*/



    /* ---------TEAMBUILDING DESKTOP START ----- */

    /* Headerbillede på teambuilding-siden */

    .teambuilding-header {
        height: 90vh;
    }


    /* DE TO BOKSE, FORDELE OG PRAKTISK INFO -- på TEAMBUILDING-SIDEN */

    .wrapper-bokse {
        text-align: center;
        line-height: 150%;

    }

    #fordele {
        display: inline-block;
        width: 35%;
        height: 35vh;
        padding: 1% 2% 2% 2%;
        vertical-align: top;

    }

    #praktisk-info {
        display: inline-block;
        width: 35%;
        height: 35vh;
        padding: 1% 2% 2% 2%;
        vertical-align: top;

    }

    .teambuilding-h2 {
        font-size: 200%;
    }


    #bookingknap-teambuilding {
        width: 30%;

    }

    #kontakt-knap {
        width: 20%;
    }

    .teambuilding-tekstafsnit {
        padding: 0% 15% 0% 15%;

    }


    .fulde-udbytte {
        padding: 0% 15% 0% 15%;
    }



    /* ---------TEAMBUILDING DESKTOP SLUT ----- */


    /* --------- KONTAKT-SIDEN DESKTOP START ----------*/ 
    
    
    #kontakt-header {
            background-position: top;
            height: 80vh;
    }
    
    #kontakt-tekst {
        margin: 0% 15% 0% 15%; 
        
    }
    
    
        /* --------- KONTAKT-SIDEN DESKTOP SLUT ----------*/ 


}
