* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;

}

body {
    margin: 0;
    overflow-x: hidden;
    font-family: 'Merriweather Sans', sans-serif;
    background-color: #252525;
}

.text-center {
    text-align: center;
}

/* ----- Fonte ----- */

h1,
h2 {
    font-family: 'Mate SC', serif;
    color: #fff;
}

h3,
h4,
h5,
h6 {
    font-family: 'Mate', serif;
    color: #fff;
}

p {
    font-family: 'Merriweather Sans', sans-serif;
    font-size: 14px;
    line-height: 19px;
    color: #fff;
}

/* ----- HEADER ----- */

#bookingknap a {
    text-align: center;
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 40px;
    background: #b11f25;
    top: 300px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: #f8f6ee;
    font-family: 'Mate', serif;
    text-decoration: none;
    border-bottom: 5px solid #e51721;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    z-index: 1;
}


/* ----- MENU ----- */

nav {
    position: absolute;
    width: 100%;
    z-index: 2;
    background-color: #252525;


}

.nav {
    text-align: right;
    height: 50px;
    line-height: 30px;


}

label {
    display: block;
    cursor: pointer;
    font-size: 30px;
    font-weight: lighter;
    color: #7E1515;
    margin: 20px 15px 15px 15px;


}

.menu {
    text-align: center;
    width: 100%;
    display: none;
    background-color: #2D2D2D;
    height: 500px;
    font-weight: bolder;
    font-family: 'Mate SC', serif;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    font-size: 18px;

}

.menu a {
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #333;
    padding: 20px;
    color: #7E1515;
    border-bottom: solid #7E1515 1px;
    margin-right: 60px;
    margin-left: 60px;

}

.menu a:hover {
    color: #e51721;

}

#toggle {
    display: none;
}

#toggle:checked + .menu {
    display: block;
}

/* ----- FORSIDE ----- */

/* ----- LANDING IMG ----- */

#landing {
    height: 60vh;
    background-size: cover;
    background-image: url(../images/landingimg.jpg);
    background-position: top;
    opacity: 0.35;
}

.landingbox h1 {
    top: 180px;
    text-align: center;
    width: 100%;
    position: absolute;
    line-height: 50px;
    color: #fff;
    font-size: 35px;
}

.landingbox h2 {
    top: 225px;
    text-align: center;
    width: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 50px;
    color: #fff;
    font-size: 30px;
}

/* ----- MARMOR BG ----- */

.marmorbox {
	background-size: cover;
    background-image: url(../images/marmor.jpg);
	background-position: top;
	padding-bottom: 50px;
}

.marmorbox h2 {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 25px;
    text-transform: uppercase;
}

.marmorbox p {
    text-align: center;
    width: 90%;
    margin-left: 5%;
    font-size: 12px;
    margin-top: 15px;
}

.marmorgrid {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 10px;
    text-transform: uppercase;
    font-size: 10px;
    text-align: center;
}

.marmorgrid img {
    width: auto;
    height: 30px;
}

.marmorgrid h3 {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* ----- RØD TEKSTUR BG MED IKONER ----- */

.roedbox {
	background-size: cover;
    background-image: url(../images/rod-tekstur.jpg);
	background-position: top;
    height: 850px;
}

.roedbox h2 {
    text-align: center;
    padding-top: 40px;
}

.roedbox h3 {
    text-align: center;
}

.content-for-alle {
    text-align: center;
}

.ikon-forside {
    margin-top: 40px;
}

.content-for-alle h3 {
    margin-top: 10px;
}

.content-for-alle p {
    margin-top: 10px;
    font-size: 12px;
    width: 90%;
    margin-left: 5%;
}

/* ----- FORSIDE SLUT ----- */

/*------ TEAMBUILDINGSIDE \/ ------ */

/* --- MORTEN HEADER TEAMBUILDING --- */


.teambuilding-header {
    display: flex;
    height: 40vh;
    background-size: cover;
    background-image: url(../images/Mafia.png);
    background-position: center;
}



/*---- Øverste to info-bokse på siden: FORDELE OG PRAKTISK INFO ---- */

.teambuilding-h2 {
    text-align: center;
    padding: 2%;
    
}


.wrapper-bokse h3 {
    padding: 3%;
    text-align: center;
}

.wrapper-bokse {
    text-align: center;
    padding: 3%;

}


#fordele {

    display: inline-block;
    width: 80%;
    height: 30vh;
    border: 1px solid #7E1515;
    background-color: #7E1515;
    margin: 3vh;
    padding-left: 3%;
    color: #fff;
    list-style-position: inside;
    text-align: left;

}

#praktisk-info {
    display: inline-block;
    width: 80%;
    height: 30vh;
    border: 1px solid #7E1515;
    background-color: #7E1515;
    margin: 3vh;
    padding-left: 3%;
    color: #fff;
    list-style-position: inside;
    text-align: left;
}


/* KODE FOR DE TO INFOBOKSE SLUTTER HER ^ */


/* TEKST-AFSNIT: "Hos Escape Factory tilbyder vi teambuilding..." */

#teambuilding-tekstafsnit {
    letter-spacing: 0.6px;
    padding: 3%;
    text-align: justify;
    text-justify: inter-word;


}

/* BOOK HER-KNAP PÅ TEAMBUILDING SIDEN */

#bookingknap-teambuilding {
    text-align: center;
    width: 80%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    line-height: 50px;
    background: #7E1515;
    padding: 0 70px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: #f8f6ee;
    border-bottom: 8px solid #e51721;
    text-transform: uppercase;
    letter-spacing: 0.6px;
    margin-top: 10%;
}

#bookingknap-teambuilding a {
    width: 350px;
    margin-top: 25%;
    text-decoration: none;
    color: #fff;
}

#bookingknap-teambuilding a:hover {
    background-color: #7E1515;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}

/* IKONER der illustrerer max antal og tid */

#ikoner {
    text-align: center;
    padding: 8%
}

.ikon-bar li {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    display: inline;
    color: #fff;

}

.icon-pics {
    width: 25px;
    text-align: center;
    vertical-align: -29%;
    padding-left: 4px;

}

/*EL-KHOLY muligheden - tekstafsnit */

.fulde-udbytte {
    height: 100vh;
    background-size: cover;
    background-image: url(../images/teambuild-baggrund.png);
    background-position: center;


}

.fulde-udbytte p {

    letter-spacing: 0.6px;
    padding: 3%;


}



#consult-tekst {
    margin: 2%;
}


/* ---- HERUNDER kontakt-knap til TEAMBUILDING SIDEN ---- */

#kontakt-knap {
    text-align: center;
    width: 80%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    line-height: 50px;
    background: #7E1515;
    padding: 0 70px;
    display: inline-block;
    font-weight: 700;
    font-size: 16px;
    color: #f8f6ee;
    border-bottom: 8px solid #e51721;
    text-transform: uppercase;
    letter-spacing: 0.6px;

}

#kontakt-knap a {
    width: 350px;
    margin-top: 25%;
    text-decoration: none;
    color: #fff;


}

#kontakt-knap a:hover {
    background-color: #7E1515;
    -webkit-transition: all 0.6s;
    -moz-transition: all 0.6s;
    -o-transition: all 0.6s;
    transition: all 0.6s;
}


/* -----------HER SLUTTER KODE FOR TEAMBUILDING-SIDEN--------- */


/*----VORES RUM SIDEN STARTER-----*/

.enigmaimg, .alkymistimg, .oberstimg {

    width: 100%;
    height: 180px;

}




   
/*med inspiration fra https://www.w3schools.com/howto/howto_css_modals.asp*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 150px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.7); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background: #7e1515;
    
    margin: auto;
    padding: 30px;
   
    width: 90%;
}

/* The Close Button */
.close {
    color: #ffff;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: grey;
    text-decoration: none;
    cursor: pointer;
}

.alkymisten {
    position: relative;
}

.enigma {
    position: relative;
}

.oberst {
    position: relative;
}

#myBtn {
  
    background: #7c2000;
    border: none;
    
    padding: 1% 5%;
    font-size: 20px;
    position: absolute;
    top: 85%;
    left: 50%;
    transform: translate(-50%, -50%);
   
}

.tekstonimg {
     position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    
}


/*-----VORES RUM SIDEN SLUTTER-----*/


/* ----- DESKTOP ----- */

@media (min-width:1025px) {

    /* ----- MENU ----- */
    nav {
        width: 100%;

    }

    .nav {
        height: 150px;
        line-height: 150px;
    }

    .menu {
        display: inline-block;
        background: none;
        font-size: 14px;
    }

    .menu a {
        text-decoration: none;
        margin: 0px;
        line-height: 0px;
        border-bottom: none;
    }

    label {
        display: none;
    }

    /* Lavet med inspiration fra https://www.littlesnippets.net/snip1275 */

    .snip1275 {
        text-align: center;
        font-weight: 500;
        letter-spacing: 1px;
    }

    .snip1275 * {
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
    }

    .snip1275 li {
        display: inline-block;
    }

    .snip1275 a {
        color: rgba(255, 255, 255, 0.5);
        position: relative;
    }

    .snip1275 a:before,
    .snip1275 a:after {
        height: 3px;
        position: absolute;
        content: '';
        -webkit-transition: all 0.35s ease;
        transition: all 0.35s ease;
        background-color: #7E1515;
        width: 0;
    }

    .snip1275 a:before {
        top: 0;
        right: 0;
    }

    .snip1275 a:after {
        bottom: 0;
        left: 0;
    }

    .snip1275 a:hover,
    .snip1275 .current a {
        color: #ffffff;
    }

    .snip1275 a:hover:before,
    .snip1275 .current a:before,
    .snip1275 a:hover:after,
    .snip1275 .current a:after {
        width: 100%;
    }

    /* ----- FORSIDE ----- */

    /* ----- HEADER ----- */

    #bookingknap a {
        width: 350px;
        margin-top: 350px;
        z-index: 2;
    }

    #bookingknap a:hover {
        background-color: #e51721;
        -webkit-transition: all 0.6s;
        -moz-transition: all 0.6s;
        -o-transition: all 0.6s;
        transition: all 0.6s;
        z-index: 2;
    }

    /* ----- LANDING IMG ----- */

    #landing {
        height: 90vh;
        background-position: top;
    }

    .landingbox h1 {
        top: 400px;
        font-size: 70px;
    }

    .landingbox h2 {
        top: 470px;
        font-size: 60px;

    }

    .landingtext h2 {
        font-size: 55px;
    }

    /* ----- MARMOR BG ----- */

    .marmorbox h2 {
        text-align: center;
        padding-top: 70px;
        padding-bottom: 70px;
        font-size: 55px;
        text-transform: uppercase;
    }

    .marmorbox p {
        text-align: center;
        width: 60%;
        margin-left: 20%;
        font-size: 16px;
        margin-top: 70px;
    }

    .marmor {
        width: 100%;
        height: 650px;
        z-index: -2;
        opacity: 0.1;
        position: absolute;
    }

    .marmorgrid {
        width: 80%;
        margin-left: 10%;
        grid-template-columns: auto auto auto auto auto auto;
        font-size: 20px;
    }

    .marmorgrid img {
        height: 80px;
    }

    .marmorgrid h3 {
        margin-top: 30px;
    }

    /* ----- RØD TEKSTUR BG MED IKONER ----- */

    .roedbox h2 {
        
    }

    .roedbox h3 {
        
    }

    #roed {
        height: 500px;
        width: 100%;
    }

    .content-for-alle {
        width: 80%;
        margin-left: 10%;
        display: grid;
        grid-template-columns: auto auto auto;
    }

    .ikon-forside {
        
    }

    .content-for-alle h3 {
        
    }

    .content-for-alle p {
        width: 100%;
        margin-left: 0;
    }

    /* ----- FORSIDE SLUT ----- */

    /*----VORES RUM SIDEN STARTER-----*/

    .detrerum {
        display: flex;
        justify-content: space-around;
    }

    .detrerum {
        
    width: auto;
          
    }
    
    .detrerum img {
        width: 310px;
height: 400px;
    }


    /*-----VORES RUM SIDEN SLUTTER-----*/



    
    
/* ---------TEAMBUILDING START ----- */ 

/* HEADERBILLDE på TEAMBUILDING-siden */
    
.teambuilding-header {
    height: 80vh;
}
    
    
/* DE TO BOKSE, FORDELE OG PRAKTISK INFO */    
    
.wrapper-bokse {
    text-align: center;
    
}
    
    #fordele {
        display: inline-block;
        width: 25%;
        height: 35vh;
        padding: 1% 2% 2% 2%;
        vertical-align: top;

    }
    
    #praktisk-info {
        display: inline-block;
        width: 25%;
        height: 35vh;
        padding: 1% 2% 2% 2%;
        vertical-align: top;

    }

    .teambuilding-h2 {
        font-size: 200%;
    }


    #bookingknap-teambuilding {
        width: 30%;

    }


    #teambuilding-tekstafsnit {
        padding: 0% 8% 0% 8%;
    }


    .fulde-udbytte {
        padding: 0% 8% 0% 8%;

    }

    #kontakt-knap {
        width: 20%;
    }

    #teambuilding-tekstafsnit {
        padding: 0% 15% 0% 15%;

    }


    .fulde-udbytte {
        padding: 0% 15% 0% 15%;
    }



    /* ---------TEAMBUILDING SLUT ----- */
}